body {
	background-color:#936EB8;
	margin:0;
	padding:0;
	font-family: 'Poiret One', cursive;

}

h1 {
	height:200px; 
	color: #936EB8;
	text-align: center;
	line-height: 200px;
	background-color:#FFD630;
}

h1,h2,h3,p{
	margin-top: 0;
}

img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.hello-form {
	background-color: #000;
	color: #fff;
}